/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2015, 1:41:59 PM
    Author     : jennifer
*/



/*********************
Carnaby Dashboard Styles
**********************/
.box-section{
    margin: 10px;
}
.box-section-outline{
    padding: 10px;
    border: 1px solid #efefef;
    background-color: #fff;
}

.dashboard .box-section h2, 
.dashboard .box-section h3,  
.dashboard .box-section h4,
.dashboard .box-section h5 {
    text-transform: uppercase;
}

.box-section i{
    font-size: 18px;
}

.box-section span{
    //margin: 0px 10px 0px 5px;
    text-align: left;
}

.box-listing-excerpt{
    background-color: #fff;
    width: 330px;
    padding: 3px;
}

.box-listing-excerpt.image{
    
}
.box-listing-excerpt.name{
    
}

.box-listing-excerpt{}
/*********************
Carnaby Avatar Styles
*********************/

.user-avatar-rounded{
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin: 10px;
}

.dash-user-info{
    margin:10px;
}

.btn-secondary,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #000;
    color: #ffffff;
}
.btn-secondary:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn-secondary:focus,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background-color: #000000;
    //border-color: #40bfbf;
    color: #d3d3d3;
}
.user-stats{
    margin-top: 5px;
    margin-left: 8px;
}

.star-on, .star-half{
    color: #ffd02c;
}
.star-off, .heart-off{
    color: #cdcdcd;
}

.heart-on{
    color: #ff3a3a;
}

.dashboard .search-form{
    margin-bottom: 30px;
}
.dashboard .search-form input{
    height: 50px;
    text-transform: uppercase;
}

.dashboard .search-form button{
    background-color: #000000;
    color: #ffffff;
    height: 48px;
}

.dashboard .widget-thumb-large{
    width: 300px;
    height: 200px;
}
.dashboard .widget-posts{
  width: 300px;
  display: inline-block;
  margin: 20px;
  //padding: 10px;
  background-color: #ffffff;
  
}

.dashboard .widget-posts-title{
    padding: 15px;
}

.dashboard .widget-posts-title a{
    color: #788991;
}

.dashboard .widget-posts-title i{
    font-size: 14px;
    color: #cdcdcd;
    float: right;
}
