/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2015, 1:41:59 PM
    Author     : jennifer
*/



/*********************
Carnaby Dashboard Styles
**********************/
.centered {
     position: fixed;
     top: 50%;
     left: 50%;
     /* bring your own prefixes */
     transform: translate(-50%, -50%);
}

.content{
    padding-top: 60px;
    padding-bottom: 60px;
}
.box-section{
    margin: 10px;
}
.box-section-outline{
    padding: 10px;
    border: 1px solid #efefef;
    background-color: #fff;
}

.dashboard .box-section h2, 
.dashboard .box-section h3,  
.dashboard .box-section h4,
.dashboard .box-section h5 {
    text-transform: uppercase;
}

.box-section i{
    font-size: 14px;
}

.box-section span{
    //margin: 0px 10px 0px 5px;
    text-align: left;
}

.box-listing-excerpt{
    background-color: #fff;
    width: 330px;
    padding: 3px;
}

.box-listing-excerpt.image{
    
}
.box-listing-excerpt.name{
    
}

.box-listing-excerpt{}
/*********************
Carnaby Avatar Styles
*********************/

.user-avatar-rounded{
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin: 10px;
}

.dash-user-info{
    margin:10px;
}

.btn-secondary,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #000;
    color: #ffffff;
}
.btn-secondary:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn-secondary:focus,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background-color: #000000;
    //border-color: #40bfbf;
    color: #d3d3d3;
}
.user-stats{
    margin-top: 5px;
    margin-left: 8px;
}

.star-on, .star-half{
    color: #ffd02c;
}
.star-off, .heart-off{
    color: #cdcdcd;
}

.heart-on{
    color: #ff3a3a;
}

.dashboard .search-form{
    margin-bottom: 30px;
}
.dashboard .search-form input{
    height: 50px;
    text-transform: uppercase;
}

.dashboard .search-form button{
    background-color: #000000;
    color: #ffffff;
    height: 48px;
}

.dashboard .widget-thumb-large{
    width: 300px;
    height: 200px;
}
.dashboard .widget-posts{
  width: 300px;
  display: inline-block;
  margin: 20px;
  //padding: 10px;
  background-color: #ffffff;
  
}

.dashboard .widget-posts-title{
    padding: 15px;
}

.dashboard .widget-posts-title a{
    color: #788991;
}

.dashboard .widget-posts-title i{
    font-size: 14px;
    color: #cdcdcd;
    float: right;
}

.slick-prev:before, .slick-next:before{
    color: #000;   
}

/****************************************
Carnaby Homepage Styles
*****************************************/

.homepage h2, .homepage h3, homepage h4{
    text-transform: uppercase;
}
.homepage h4{
    font-size: 15px;
}
.homepage .main-panel{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-weight: bold;
    position: relative;
    padding-bottom: 250px;
    padding-top: 250px;
    
    //width: 1441px;
    //max-width: 1441px;
    //height: 600px;
}

.homepage .main-panel .header-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.homepage .main-panel h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.homepage .main-panel .search-box{
    width: 500px;
    margin: auto;
}

.homepage .main-panel input{
    text-transform: uppercase;
    color: #cdcdcd;
    height: 50px;
    width: 500px;
    max-width: 500px;
}

.homepage .main-panel button{
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    padding: 0px 20px 0px 20px;
}

.homepage .info-panel{
    background-color: #ffffff;
}
.homepage .info-panel-content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.homepage .info-panel .info-box{
    width: 320px;
    padding: 10px 5px 30px 5px;
    text-align: center;
    display: inline-block;
    -webkit-animation: fadeInUp;
    animation: fadeInUp;
    margin: auto;
}

.homepage .info-panel i{
    font-size: 35px;
    line-height: 2em;
    font-weight: bold;
    color: #66cccc;
}

.homepage .categories-panel{
    text-align: center;
}

.homepage .categories-panel-content, .homepage .posts-panel-content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.homepage .categories-panel .category-content{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 350px;
    height: 200px;
    margin: 10px;   
    padding: 0px;
    position: relative;
    
}

.homepage .categories-panel .category-overlay{
    background-color: #000;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    width: 95%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}
#women-category-title, #men-category-title, #kids-category-title{
    //-webkit-transition: display 5s ease-in;
    //-moz-transition: display 5s ease-in;
    //-webkit-transition-delay: .5s;
    //-moz-transition-delay: .5s;
    //transition-delay: .5s;
}

#category-women:hover #overlay-women{opacity: .6;}
//#category-women:hover #women-category-title{display:none;}
#category-men:hover #overlay-men{opacity: .6;}
#category-kids:hover #overlay-kids{opacity: .6;}

.homepage .category-content .category-label{
    font-family: Playfair Display, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 45px;
    z-index: 100;
}
.homepage .category-label a{
    color: #fff;
}

#women-category-title{left:95px;}
#men-category-title{left:125px}
#kids-category-title{left:10px}

.homepage .category-btn{
    border: 1px solid #ffffff;
    position: absolute;
    top: 105px;
    left: 140px;
}
.homepage .category-btn a{
    color: #ffffff;
}

.homepage .posts-panel{
    text-align: center;
}

.homepage .posts-panel .widget-thumb-large{
    width: 350px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px 0px 10px;
}
.homepage .widget-post{
    padding: 0px;
}

.homepage .widget-posts-title{
    padding: 15px;
    margin: 0px 10px;
    background-color: #ffffff;
    text-align: left;
}

.homepage .widget-posts-title a{
    color: #788991;
    
}

.homepage .widget-posts-title i{
    font-size: 14px;
    color: #cdcdcd;
    float: right;
}


.divider-space{
    height: 20px;
}

@media only screen and (max-width: 991px){
    .homepage .main-panel{
        padding-top: 130px;
    }
    .homepage .main-panel h1 { 
        font-size:42px;
    }
    
}

@media only screen and (max-width: 767px){
    .homepage .main-panel .search-box{
        width: 400px;
    }
    .homepage .main-panel input{
        width: 300px;
        font-size: 90%;
    }
    .homepage .main-panel h1 { 
        font-size:34px;
    }
}
@media only screen and (max-width: 400px) {
    .homepage {
        padding-top: -45px;
    }
    
    .homepage .main-panel h1 { 
        font-size:25px;
    }
    .homepage .main-panel .search-box{
        width: 250px;
    }
    .homepage .main-panel input{
        width: 175px;
        font-size: 65%;
    }
}
